
# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/


# Django/DB
db.sqlite3
*.sqlite3
*/__pycache__/

# Virtualenv
venv/
.env
.venv/

# Media/uploads (not tracked)
media/

# VSCode/IDE
.vscode/
.idea/
.DS_Store
*.swp
*.swo
*.bak
*~

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
